<!DOCTYPE html>
<!--
  This is the main HTML file for the Flask application.
  It displays a search bar and a list of countries sorted by name or population.
  The search bar calls the updateSorting() function on keyup, which fetches the
  new list of countries and updates the list in the HTML.
  The sorting options are also handled by the updateSorting() function.
-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask App</title>
    <link rel="stylesheet" href="../static/style/main.css" />
  </head>
  <body>
    <h1>World DB</h1>
    <!-- The logout link -->
    <a href="{{ url_for('logout') }}" id="logout">Logout</a>

    <!-- The search bar and sorting options -->
    <div class="search-container">
      <input
        action="/search"
        method="get"
        type="text"
        id="search"
        name="search"
        placeholder="Search for Countries!"
        onkeyup="updateSorting()"
      />
      <br />

      <!-- The sorting options -->
      <label for="criteria">Sort by:</label>
      <select id="criteria" onchange="updateSorting()">
        <option value="Name">Name</option>
        <option value="Population">Population</option>
      </select>
      <br />

      <!-- The sorting order options -->
      <label>
        <input
          type="radio"
          name="sort_order"
          value="asc"
          onclick="updateSorting()"
          checked
        />
        Ascending
      </label>
      <label>
        <input
          type="radio"
          name="sort_order"
          value="desc"
          onclick="updateSorting()"
        />
        Descending
      </label>

      <!-- The list of countries will be displayed here -->
      <div id="country-results"></div>
    </div>
  </body>
  <!-- The JavaScript file that handles the search and sorting -->
  <script src="{{ url_for('static', filename='script/modal.js') }}"></script>
</html>

